/* This file will hold the main styles for your website. */

body {
  font: 13px/1.5 Tahoma, Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
font-size: 18px;
}

a{outline: 0 none;}

/*
 * Links
 *
 * The order of link states are based on Eric Meyer's article:
 * http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states
 */
a {
	font-family: Arial, sans-serif;
}

a:link {
	color: #08C;
	text-decoration: none;
/*	text-decoration: underline;*/
}

a:visited {
	color: #08C;
}

a:hover,
a:focus {
	color: #08C;
 text-decoration: none;
/*	text-decoration: underline;*/
	text-shadow: 0px 0px 10px #08C;
}

#region-page-top {display:none;} /*TODO remove*/

#zone-fixed-wrapper {
background: black;
height: 34px;
position: fixed;
width: 100%;
}
#section-header{z-index:1000;position:relative;}
#region-menu,#section-content{z-index:-100;position:relative;}
#region-top-first{z-index:1000;position:relative;}
#zone-fixed-wrapper p{
margin: 0;
padding: 0;
}

.logo-img {
float: left;
margin-right: 20px;
position: relative;
display: block;
z-index: 99999;
}

#region-branding{
min-height: 1px;
}

#region-menu {
	margin-top: 64px;
}

#region-menu nav {
}
#region-menu nav ul {
margin: 0;
padding: 0;
}
#region-menu nav ul li {
padding: 0;
margin: 0;
float: left;
}
#region-menu nav a:link,
#region-menu nav a:visited {
color: #8A8A8A;
font-size: 18px;
float: left;
display: block;
padding: 8px 10px 8px 49px;
text-decoration: none;
/*margin-right: 24px;*/
}

#region-menu nav a:hover,
#region-menu nav a:focus,
#region-menu nav li.active a {
color: black;
text-shadow: 0px 0px 8px #666;
}

#section-content {
border-top: 2px solid #EEE;
padding-top: 1em;
}

#section-header {
height: 106px;
}

#ting-tong {
cursor: pointer;
margin-top: 6px;
float: right;
}

.banner-nav {
	text-align: center;
	padding: 1em 0;
	border-bottom: 1px solid #000;
}

.banner-nav ul {
margin: 0;
padding: 0;
}
.banner-nav ul li {
padding: 0;
margin: 0;
}
.banner-nav a:link,
.banner-nav a:visited {
color: #222;
font-size: 14px;
padding: 5px 14px;
text-decoration: none;
}

.banner-nav a:hover,
.banner-nav a:focus,
.banner-nav a.active {
text-shadow: 0px 0px 8px #666;
}

#home-banner-slider, #home-banner-slider li {
	width: 100%;
	height: 210px;
}

#home-banner-slider h1 {
text-align: center;
font-family: arial,sans-serif;
margin-bottom: 0;
font-size: 36px;
}

#home-banner-slider p {
text-align: center;
padding: 0 0.5em;
font-family: Georgia,'Times New Roman', serif;
font-size: 28px;
font-style: italic;
margin: 0;
}

#zone-preface-wrapper {}
#zone-preface-wrapper .region {
	margin-bottom: 16px;
  box-shadow: 4px 5px 12px #ccc;
  -moz-box-shadow: 4px 4px 12px #ccc;
  -webkit-box-shadow: 4px 4px 12px #ccc;
}
#zone-preface-wrapper .region-inner {
border: 1px solid #DFDFDF;
padding: 4px 8px;
text-align: justify;
}

#zone-preface-wrapper .region-preface-zero-inner {
padding: 14px 8px;
text-align: center;
background: #F0D98E;
border: 1px solid #F0D98E;
}

#zone-preface-wrapper #region-preface {
  margin-bottom: 16px;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  background: none;
}
#zone-preface-wrapper #region-preface .region-inner {
	border: none;
	padding: 0;
}

div.contrib-badge {}
div.contrib-badge img,
div.contrib-badge .badge-img {
	float: left;
  width: 110px;
  margin-right: 8px;
}
div.contrib-badge p {
	margin: 0; padding: 0;
}
div.contrib-badge div.badge-text {
	text-align: left;
}
div.teaser-intro {
	margin-bottom: 20px;
}
div.teaser-intro img {
float: left;
border: 1px solid #CCC;
box-shadow: 0 2px 4px #ddd;
-moz-box-shadow: 0 2px 4px #ddd;
-webkit-box-shadow: 0 2px 4px #ddd;
margin-right: 10px;
}
h2.block-title {
	margin: 6px 0;
}

div.client-testimonials {
min-height:410px;
}
div.client-testimonials .testimonial {
	font-style: italic;
	margin: 20px 0px 10px
}
div.client-testimonials .client {
	text-align: right;
}
div.client-testimonials .more-testimonials {
	margin: 22px 0px 10px;
}
.block-user-commit-log-block .block-title,
.block-drupal-blog-posts-block .block-title,
.block-sponsored-events-block .block-title,
.block-contribution-sites-block .block-title,
.block-presentations-block .block-title,
div.list-of-services .services-title,
#block-views-innoraft-tweets-block h2.block-title,
.block .innosome-box h2.block-title {
box-shadow: 4px 4px 12px #ccc;
-moz-box-shadow: 4px 4px 12px #ccc;
-webkit-box-shadow: 4px 4px 12px #ccc;
border: 1px solid #DFDFDF;
margin: 16px 0;
padding: 10px 10px;
color: #474646;
}

.block .innosome-box h2.block-title a {
display: block;
}

.block .innosome-box .block-content {
box-shadow: 4px 4px 12px #ccc;
-moz-box-shadow: 4px 4px 12px #ccc;
-webkit-box-shadow: 4px 4px 12px #ccc;
border: 1px solid #DFDFDF;
margin: 16px 0;
}

div.list-of-services .services-content {
box-shadow: 4px 4px 12px #ccc;
-moz-box-shadow: 4px 4px 12px #ccc;
-webkit-box-shadow: 4px 4px 12px #ccc;
border: 1px solid #DFDFDF;
margin: 16px 0;
padding-left: 9px;
}
a.block-title-link:link,
a.block-title-link:visited {
color: #222;
text-decoration: none;
}

a.block-title-link:hover,
a.block-title-link:focus,
a.block-title-link.active,
.block-views-recent-blogs-block h2.node-title a:hover,
.block-views-recent-blogs-block h2.node-title a:focus,
.block-views-recent-blogs-block h2.node-title a.active {
text-shadow: 0px 0px 8px #666;
}

#block-views-innoraft-tweets-block li.views-row {
padding: 10px;
margin: 0;
vertical-align: middle;
border-bottom: 1px dashed #ddd;
}

#block-views-innoraft-tweets-block ul {
	height: 290px;
	overflow: hidden;
}


#block-views-innoraft-tweets-block .views-field-profile-image-url {
float: left;
margin-right: 10px;
border: 1px solid #CCC;
box-shadow: 0 2px 4px #ddd;
-moz-box-shadow: 0 2px 4px #ddd;
-webkit-box-shadow: 0 2px 4px #ddd;
}
#block-views-innoraft-tweets-block .views-field-text {}
#block-views-innoraft-tweets-block .views-field-created-time {
/*font-size: 0.8em;*/
font-size: 13px;
}

.view-recent-blogs li.views-row {
float: left;
width: 285px;
}

.block-views-recent-blogs-block h2.node-title {
	font-size: 18px;
	margin-bottom: 10px;
}
.block-views-recent-blogs-block h2.node-title a,
.block-views-recent-blogs-block h2.node-title a:link,
.block-views-recent-blogs-block h2.node-title a:visited {
	color: #222;
	text-decoration: none;
}

.block-views-recent-blogs-block .submitted {
	display:none;
}
.block-views-recent-blogs-block .views-row .content {
	text-align: justify;
}

div.read-more {
	margin-bottom: 13px;
}

#zone-postscript-wrapper {
background: #555;
color: white;
margin-top: 50px;
padding-bottom: 50px;
}

#zone-postscript {
	padding-top: 20px;
}

#zone-postscript h2.block-title {
font-family: Verdana, Helvetica, Arial, sans-serif;
font-size: 13px;
color: white;
background: #D14836;
padding: 2px 8px;
border-radius: 4px;
font-weight: bold;
}

#zone-postscript #region-postscript-first h2.block-title {
  background: #4575F3;
}
#zone-postscript #region-postscript-second h2.block-title {
  background: #3fb04a;
}
#zone-postscript #region-postscript-third h2.block-title {
  background: #8b74bd;
}
#zone-postscript #region-postscript-fourth h2.block-title {
  background: #D14836;
}

#zone-postscript .block-content {
padding-left: 14px;
}

#zone-postscript a:link {
  color: #fff;
  text-decoration: underline;
}

#zone-postscript a:visited {
  color: #fff;
}

#zone-postscript a:hover,
#zone-postscript a:focus {
  color: #fff;
  text-decoration: underline;
  text-shadow: 0px 0px 8px #fff;
}
#zone-footer-wrapper {
text-align: center;
color: white;
background: black;
}

#region-footer-first {
	padding: 14px 0px;
}
#region-footer-first p {
	margin: 0;
	margin-bottom: 0;
}

#region-sidebar-first div.testimonial,
#region-sidebar-first div.client,
#region-sidebar-first div.more-testimonials {
	padding: 0px 5px;
}

.fb-iframe {
	text-align: center;
}

#about-us-list img {
-moz-box-shadow: 0 2px 4px #ddd;
-webkit-box-shadow: 0 2px 4px #ddd;
box-shadow: 0 2px 4px #ddd;
-webkit-box-shadow: 0 2px 4px #ddd;
border: 1px solid #CCC;
float: left;
height: 80px;
margin: 8px 0 0;
width: 100px;
}
#about-us-list {
margin: 0;
padding: 0;
}
#about-us-list li {
clear: left;
float: left;
list-style-type: none;
margin: 0.6em 0;
padding: 0.2em 0 1em;
width: 100%;
display: list-item;
}

#about-us-list h3,
 #about-us-list p{
margin: 0 0 0px 112px;
line-height: 1.8em;
}

.not-front #block-system-main .block-content,
.region-content-inner .block-drupal-blog-posts-block .block-content,
.region-content-inner .block-user-commit-log-block .block-content,
.block-sponsored-events-block .block-content,
.block-contribution-sites-block .block-content,
.block-presentations-block .block-content {
box-shadow: 4px 4px 12px #ccc;
-moz-box-shadow: 4px 4px 12px #ccc;
-webkit-box-shadow: 4px 4px 12px #ccc;
border: 1px solid #DFDFDF;
margin: 16px 0px 23px;
padding: 0px 10px;
}
#page-title {
box-shadow: 4px 4px 12px #ccc;
-moz-box-shadow: 4px 4px 12px #ccc;
-webkit-box-shadow: 4px 4px 12px #ccc;
border: 1px solid #ccc;
margin: 16px 0 0;
padding: 9px 10px;
font-size: 23px;
/*background: #F7F7F7;*/
background-image:url('title_background.png');
background-repeat:no-repeat;
background-position:right bottom;
color: #474646;
text-shadow: 2px 1px 4px #A1A1A1;
letter-spacing: 1px;
word-spacing: 2px;
line-height: 28px;
}

#region-footer-second {
display:none;
}

#fancybox-content #region-footer-second {
display: block;
width: 100%;
}
#fancybox-content h2.block-title {display:none;}

.ting-tong-greet {
font-size: 24px;
color: white;
background: #4575F3;
padding: 16px 10px;
border-radius: 0px;
box-shadow: 4px 4px 10px #999;
-moz-box-shadow: 4px 4px 10px #999;
-webkit-box-shadow: 4px 4px 10px #999;
font-family: arial,sans-serif;
text-align: center;
margin: 10px 0px 20px;
}
.ting-tong-msg {
font-size: 18px;
background: #3FB04A;
color: white;
padding: 10px;
margin: 0px 40px 20px;
text-align: center;
box-shadow: 4px 4px 10px #999;
-moz-box-shadow: 4px 4px 10px #999;
-webkit-box-shadow: 4px 4px 10px #999;
}

#fancybox-content #block-contactblock-contactblock {
margin: 0px 40px;
}
#fancybox-content .form-item {
clear: both;
float: left;
margin-top: 5px;
margin-bottom: 5px;
}
#fancybox-content label {
display: block;
float: right;
margin-left: 10px;
}
#fancybox-content #edit-name,
#fancybox-content #edit-mail {
width: 200px;
float: right;
}
#fancybox-content .form-item-message label,
#fancybox-content .form-item-captcha-response label {
display:none;
}
#fancybox-content .captcha,
#fancybox-content #edit-actions {
clear:both;
}
#fancybox-content .captcha img {
display: block;
}

.portfolio-item {
float: left;
width: 305px;
margin: 20px 10px;
list-style: none;
}
.portfolio-item img {
width: 298px;
border: 1px solid #ccc;
box-shadow: 0px 2px 4px #ddd;
-moz-box-shadow: 0px 2px 4px #ddd;
-webkit-box-shadow: 0px 2px 4px #ddd;
margin-bottom: 8px;
}
.portfolio-item .label {
font-weight: bold;
color: #333;
}
.portfolio-list {
margin: 0;
padding: 0;
}
.page-contact .list-of-services h2.block-title {display:none;}
.page-contact .list-of-services img {width: 690px;}

#drupalcon-fact-list {}
#drupalcon-fact-list li {
float: left;
list-style: none;
margin: 10px;
border: 1px solid #CCC;
box-shadow: 0px 2px 4px #ddd;
-moz-box-shadow: 0px 2px 4px #ddd;
-webkit-box-shadow: 0px 2px 4px #ddd;
height:200px;
overflow:hidden;
}
#drupalcon-fact-list img {
}
#drupalcon-fact-list div{
width: 288px;
text-align: center;
margin: 0px 10px 10px;
font-size: 14px;
}






.not-front .node-blog,
#comments article {
	margin: 13px 5px 20px;
	text-align: justify;
}
.node-blog.node-teaser .content {
	clear: both;
}
.node-blog h2.node-title,
#comments header h3 {
	margin-bottom: 0px;
	line-height: 31px;
	font-size: 23px;
  letter-spacing: 0.5px;
}
.region-content-inner .action-links li {
	list-style: none;
	margin-top: 16px;
  font-size: 13px;
}
.region-content-inner .block-inner .field-name-body {
	font-size: 15px;
	margin-top: 18px;
}
.node-blog .content div.field-name-body p,
#comments div.field-name-comment-body p {
	color: #474747;
	margin-bottom: 13px;
}
.node-blog footer.submitted {
	float: left;
}
.node-blog footer.submitted,
#comments footer {
  margin-bottom: 15px;
  font-style: italic;
  color: #B5B5B5;
}

.sharethis-wrapper {
	text-align: right;
/*	float: right;
	margin-right: 1px;
/*	box-shadow: 1px 4px 13px #3B3B3B;
  -moz-box-shadow: 1px 4px 13px #3B3B3B;
  -webkit-box-shadow: 1px 4px 13px #3B3B3B;
/*  padding-bottom: 2px;*/
}
.sharethis-wrapper span {
	margin-left: 3px;
}
.sharethis-buttons {
	margin-bottom: 10px;
}
.field-name-field-blog-tags .field-item a{
	text-decoration: none;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background: -moz-linear-gradient(top center, white 0%, #DDD 100%);
	margin: 0 0.5em 0.5em 0;
	-webkit-appearance: none;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	/*background: #DDD url(../images/button.png) repeat-x;*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #DDD));
	background: -moz-linear-gradient(top center, white 0%, #DDD 100%);
	border: 1px solid;
	cursor: pointer;
	color: #333;
	font-size: 10px;
	outline: 0;
	overflow: visible;
	padding: 3px 7px 3px;
	text-shadow: white 0 1px 1px;
	width: auto;
	border-image: initial;
	border-color: #DDD #BBB #999;
}
/*.field-name-field-blog-tags .field-item:after {
	content: ", ";
}
.field-name-field-blog-tags .field-item:last-child:after {
  content: "";
}*/
.field-name-field-blog-tags .field-label {
  font-weight: normal;
}
.field-name-field-blog-tags {
  margin: 5px 0px 20px 0px;
}
pre.prettyprint.linenums {
	padding: 0px 0px 0px 2px;
	background: #FAFAED;
	border-left: 2px solid #CCC;
	border-right: 2px solid #CCC;
	margin: 3px 15px 3px 20px;
	font-size: 14px;
}
pre.prettyprint ol.linenums {
	padding-left: 0px;
}


/*
 *CSS for the /drupalgive page.
 */
.context-drupalgive div.block-system-main {
	display: none;
}
.context-drupalgive #page-title {
	margin-bottom: 15px;
}
.context-drupalgive #region-sidebar-first {
	margin-top: 10px;
}
.block-user-commit-log-block .block-content table {
	border: none;
	margin-bottom: 0px;
}
.block-user-commit-log-block .block-content table td {
	padding: 15px 13px;
	background: #FAFAED;
}
.block-user-commit-log-block .block-content table td {
  width: 30%;
  vertical-align: top;
}
.block-user-commit-log-block .block-content {
	padding: 10px 10px;
	margin: 0px 0px 24px;
}
.block-user-commit-log-block .block-content .views-field-do-project-name a{
	font-size: 14px;
}
.block-user-commit-log-block .block-content .views-label-do-commit,
.block-user-commit-log-block .block-content .views-field-do-commit-info p,
.block-user-commit-log-block .block-content .views-label-do-commit-author,
.block-user-commit-log-block .block-content .views-field-do-commit-date {
	margin-bottom: 0px;
	color: #525151;
	font-size: 12px;
}
.block-user-commit-log-block .block-content .views-label-do-commit-author {
	font-weight: bold;
}
.block-contribution-sites-block .views-row,
.block-presentations-block .views-row,
.block-drupal-blog-posts-block .views-row {
	margin: 10px 10px 17px;
}
.block-user-commit-log-block .view-user-commit-log {
	margin: 10px 0px;
}
.block-drupal-blog-posts-block .views-field-title a {
	font-size: 20px;
}
.block-drupal-blog-posts-block .views-field-name span,
.block-drupal-blog-posts-block .views-field-created span {
	font-style: italic;
  color: #B5B5B5;
}
.block-sponsored-events-block .views-row {
	text-align: center;
}
.block-contribution-sites-block .block-content .views-field-field-contribution-site-image .field-content {
	overflow: hidden;
}
.block-user-commit-log-block .block-title,
.block-drupal-blog-posts-block .block-title,
.block-sponsored-events-block .block-title,
.block-contribution-sites-block .block-title,
.block-presentations-block .block-title {
	font-size: 17px;
	padding: 13px 12px;
	margin: 6px 0px;
	font-family: inherit;
	line-height: 20px;
}
.block-contribution-sites-block .contribution-site-body p,
.block-presentations-block .views-label-rendered-entity {
  color: #525151;
  margin-bottom: 5px;
}
.block-contribution-sites-block .views-field-title,
.block-presentations-block .views-field-field-presentation-link .field-content {
	font-size: 14px;
	line-height: 18px;
	margin: 3px 0px;
}
